%h1 Listing score_cards

%table
  %thead
    %tr
      %th first name
      %th last name
      %th score

  %tbody
    - @score_cards.each do |score_card|
      %tr
        %td= link_to score_card.applicant.first_name, applicant_score_card_path(@applicant, score_card)
        %td= score_card.applicant.last_name
        %td= score_card.score

%br

= link_to 'New Score card', new_applicant_score_card_path(@applicant)
