%h1 New scorecard

= render 'form'

= link_to 'Back', score_cards_path

%pre
  Rating scale 1-5
  1. unsatisfactory
  2. improvement needed
  3. meets expectations
  4. exceeds expectations
  5. exceptional
