%h1 Listing positions

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @positions.each do |position|
      %tr
        %td= link_to position.title, company_position_path(@company, position)

%br

= link_to 'New Position', new_company_position_path(@company)
