%h1 Listing applicants

%table
  %thead
    %tr
      %th First name
      %th Average Score

  %tbody
    - @applicants.each do |applicant|
      %tr
        %td= link_to applicant.first_name, position_applicant_path(@position, applicant)
        %td= applicant.avg_score

%br

= link_to 'New Applicant', new_position_applicant_path(@position)
