%h1 Listing departments

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= link_to department.name, company_department_path(@company, department)
%br

= link_to 'New Department', new_company_department_path(@company)
